#encabezado{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000ab;
    color: #0159A6;
    font-size: 44px;
}
.Portada{
    width: 75mm;
    height: 50mm;
    border-radius: 6mm;
    
}

.blog{
    background-color: white;
    margin: 3mm;
    padding: 3mm;
    border-radius: 6mm;
}
body {
 background-color:white;
}
#blog_Content{
    grid-template-columns: 90mm 90mm;
    display: grid;
    justify-items: center;
    justify-content: center;
}
