#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 60px;
}
.Portada{
    width: 75mm;
    height: 50mm;
    padding-right: 5mm;
    border-radius: 6mm;
    border-color: solid,aqua;
}

body {
 background-color:brown;
}
#blog_Content{
    display: flex;
}